body {
    margin: 0;
    padding: 0;
    background-color: #D9D4CC;
    box-sizing: border-box;
    color: #735f46 !important;
}

.main--container{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
   /* background-color: #FAFAFA;*/
}

.first--container{
    margin-top: 55px;
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

.header--container {
    max-width:  100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images--container {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    
    

}

.image--container {
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
}

.image--container:hover {
    border-color: #D9D4CC;
    box-shadow: 0px 0px 5px 5px #D9D4CC;
    border-style: solid;
    cursor: pointer;
}

.second--container{
    display: flex;
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 100px;
    margin-top: 40px;
}

figure{
    max-width: 100%;
}

.figure--image {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px;
    padding: 0px 10px;
}
.figure--image2 {
    display: none;
    
}
.figure--image:hover {
    border-color: #D9D4CC;
    box-shadow: 0px 0px 5px 5px #D9D4CC;
    border-style: solid;
    cursor: pointer;
}

.img--container{
    max-width: 400px;
    max-height: 400px;
    border-radius: 20px;
}
.img--container:hover {
    border-color: #D9D4CC;
    box-shadow: 0px 0px 5px 5px #D9D4CC;
    border-style: solid;
    cursor: pointer;
}

@media (max-width: 1000px){
    .figure--image2 {
        display: flex;
        max-width:100%;
        max-height: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

    }
    .figure--image {
        display: none;
   
    }
    .header--container{
        max-width:100%;
        margin: 0 auto;
        height: 100%;
        padding: 0%;
    }

    .image--container{
        max-width: 300px;
        max-height: 300px;
    }

    .images--container{
        padding: 0px;
    }
}
