@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat";
  color: #735f46;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  color: #735f46;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.userContainer {
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 480px;
  overflow-y: auto;
}

.userContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userContainer li {
  display: flex;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

.picture {
  width: 60px;
  margin-right: 10px;
}

.picture img {
  width: 100%;
  max-width: 60px;
  border-radius: 50%;
}

.descripcion {
  margin: 0;
  flex: 1;
}

.descripcion h4 {
  font-size: 14px;
  margin: 0;
  font-weight: 700;
}

.descripcion p {
  font-size: 12px;
  margin: 0;
}

.sugerencia {
  display: flex;
  align-items: center;
  padding: 6px;
  border-bottom: 1px solid #ddd;
}

#list-example a {
  display: block;
  padding: 6px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

#list-example a.active {
  color: #0d6efd;
  font-weight: bold;
}

.construChat {
  width: 700px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px #735f46;
  height: 480px;
  display: flex;
  flex-direction: column;
}

.chat-box {
  height: 370px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.message-input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#chatButton {
  padding: 10px 20px;
  background-color: #735f46;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chatButton:hover {
  background-color: #967957;
  color: white;
}

.chat-form {
  display: flex;
  flex-direction: row;
}

.chat-message {
  max-width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: relative;
}

.chat-message.user-message {
  align-self: flex-end;
  background-color: #d9d4cc;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}

.chat-message.auto-reply {
  align-self: flex-start;
  background-color: #bfbab0;
  color: #721c24;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0;
}

.chat-message.user-message::before,
.chat-message.auto-reply::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px;
}

.chat-message.user-message::before {
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #d9d4cc transparent;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.chat-message.auto-reply::before {
  border-color: transparent #bfbab0 transparent transparent;
  left: -10px;
  top: 50%;
  transform: translateX(-50%);
}

#chatContent {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .userContainer {
    width: 100%;
    height: auto;
    overflow-y: auto;
  }

  .construChat {
    width: 100%;
    height: 60vh;
  }

  .userContainer {
    order: 2;
  }

  .construChat {
    order: 1;
  }

  .picture img {
    width: 50px;
    max-width: 50px;
  }

  .descripcion h4 {
    font-size: 14px;
  }

  .descripcion p {
    font-size: 12px;
  }

  .sugerencia {
    padding: 8px;
  }

  .chat-box {
    height: 250px;
    overflow-y: auto;
  }

  .chat-form {
    flex-direction: column;
    gap: 10px;
  }

  .message-input {
    width: 100%;
    margin-right: 0;
  }

  #chatButton {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .userContainer {
    height: 40vh;
    overflow-y: auto;
  }

  .construChat {
    height: 60vh;
  }
}
/****************navbar del perfil************/

nav {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px !important;
  color: var(--pot);
  max-width: 100%;
  height: 100px;
  box-shadow: 0px 2px 2px rgb(224, 224, 224);
  margin-bottom: 50px;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navLogo {
  width: 7%;
}

.navSearch {
  width: 20%;
}

.navSearch input {
  width: 80%;
  background-color: #f2f2f2;
  border: none;
  margin-left: -10px;
  border-radius: 5px;
}

#navSearchButton {
  background-color: #f2f2f2;
  border: none;
  margin: none;
  border-radius: 5px;
  margin-right: -2px;
}

.navHouse {
  width: 10%;
}

.navSocial {
  width: 10%;
}

.navWorks {
  width: 10%;
}

.navOrders {
  width: 10%;
}

.navChat {
  width: 11%;
}

.navBell {
  width: 11%;
}

.navProfile {
  width: 11%;
}

nav a {
  text-decoration: none;
  color: var(--pot);
  display: flex;
  flex-direction: column;
}

nav span {
  font-size: 15px;
  font-weight: 600;
}

nav span:hover {
  font-size: 20px;
}

#logoConstruclick {
  width: 70px;
}

.navProfile button {
  background: none;
  border: none;
  color: #735f46;
  width: fit-content;
}

.navProfile button:hover {
  background-color: #735f46;
  color: white;
}

.navProfile a {
  color: #735f46 !important;
  font-weight: 500;
}