.body {
    background-color: #D9D4CC;
    box-sizing: border-box;
    display: flex;
    align-items: center;  
    color: #735F46;

}

section {
    padding: 70px 20px 70px 20px;
    margin: 0 auto;
}

.form--container {
    max-width: 784px;
    background-color: white;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid #d3c5b0;
}
#form--publication{
    max-width: 784px;
}

.option {
    color: #735F46;
}

.btn:hover {
    opacity: 0.9;
}

.legend {
    color: #735F46;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.restore u {
    color: #735F46;
    text-decoration: none !important;
}

.reg b {
    color: #735F46;
    text-decoration: none !important;
}

/***********alertas de bootstrap****************/
#welcomeUser {
    font-family: "Montserrat";
    align-items: center;
    color: #735F46;
    background-color: white;
    border: none;
    padding-top: 150px;
    border-radius: 0%;
    position: relative;
    top: 6px; 
}

#welcomeUser h4 {
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

#welcomeUser p {
    text-align: center;
}

#wrongMail--alert {
    font-family: "Montserrat";
    font-weight: 600;
    border: none;
    background: none !important;
    height: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: -40px;
    text-align: center;
    color: darkred;
}

#wrongPassword--alert {
    font-family: "Montserrat";
    font-weight: 600;
    border: none;
    background: none !important;
    height: fit-content !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    top: -10px;
    text-align: center;
    color: darkred;
}

#unexistingUser--alert {
    font-family: "Montserrat";
    font-weight: 600;
    border: none;
    text-align: center;
    width: 74%;
    position: relative;
    left: 13%;
    bottom: 500px;
    background-color: white;
    color: darkred;
}
