body {
    font-family: "Montserrat";
    color: #735F46;
    background-color: #D9D4CC;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0; 
    width: 100%;
    max-width: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; 
    gap: 50px;
    padding: 200px 20px 50px; 
}

#main-container h2 {
    font-weight: bold;
    text-align: center;
    color: #735F46;
    width: 100%;
    max-width: 100%;
}

#list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px; 
    color: #735F46;
}

#list-container li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#list-container h3 {
    font-weight: 500;
    margin: 0; 
    color: #735F46;
}

#text-container {
    max-width: 700px; 
    width: 100%; 
    padding-bottom: 10px;
}

#text-container p {
    text-align: justify;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #735F46;
}

/* Media Queries */
@media only screen and (max-width: 860px) {
    #main-container {
        padding: 100px 20px; 
    }

    #list-container h3 {
        font-size: 1.5rem; 
    }

    #text-container {
        max-width: 90%; 
    }

    #text-container p {
        font-size: 16px; 
    }
}

@media only screen and (max-width: 740px) {
    #main-container, #list-container {
        padding: 20px; 
        width: 100%; 
    }

    #text-container {
        max-width: 90%; 
    }

    #list-container li::marker, #list-container h3, #list-container li {
        font-size: 14px; 
    }

    #text-container p {
        margin-top: 20px;
        font-size: 14px; 
    }
}